body {
    padding:20px;
    margin: 20px;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: #333;
}

#left {
    padding: 20px;
    margin: 0;
    /* height: 10vh; */
    display: flex;
    align-items: right;
    justify-content: center;
    /* background-color: #333; */
}

#right {
    padding: 20px;
    margin: 0;
    height: 50%;
    display: flex;
    align-items: bottom;
    justify-content: center;
    /* background-color: #333; */
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 25px;
    width: 8em;
    height: 2em;
    color: orange;
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: crosshair;
}

li::before,
li::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 2mm ridge orange;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

#intro {
    color: black;
    background: white;
    font: Arial;
    font-size: 48px;
    text-align-last: center;
}

li:hover span {
    transform: translateX(0.15em);
}

#complimentButton {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 14px;
    color: rgb(87, 244, 255);
    background-color: rgb(34, 114, 114);
}
#complimentButton:hover {
    transform: rotateZ(10deg);
}


#fortuneButton {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 14px;
    color: rgb(87, 244, 255);
    background-color: rgb(34, 114, 114);
}

#fortuneButton:hover {
    transform: rotateZ(-10deg);
}

#test {
    display: grid;
    align-self: end;
    justify-content: center;
}
